<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timesheets - @ViewBag.Title</title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">

</head>
    <body>
        <div class="container">
        <h1>Timesheets</h1>
        <p class="lead">Your Timesheets management application</p>
           
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div id="navbar" class="">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li>@Html.ActionLink("Departments", "Index", "Department", null, new { id="menu-departments"})</li>
                            <li>@Html.ActionLink("Time Codes", "Index", "TimeCode")</li>
                           
                        </ul>
                       
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            <div>
                <h3>@ViewBag.Title</h3>
                @RenderBody()
            </div>
            </div>
        <script src="../../Scripts/bootstrap.min.js"></script>
    </body>
</html>
