<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timesheets - @ViewBag.Title</title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/bootstrap.custom.css" rel="stylesheet" />
</head>
    <body>
    <div class="container">
        <h1>Timesheets <small>for all you timesheet needs</small></h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Departments", "Index", "Department", null, new { id = "menu-departments" })</li>
                            <li>@Html.ActionLink("Time Codes", "Index", "TimeCode", null, new { id = "menu-timecodes" })</li>
                            <li>@Html.ActionLink("Users", "Index", "User", null, new { id = "menu-timecodes" })</li>
                        }
                    </ul>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                @Html.ActionLink("Register", "Index", "User", null, new { id = "menu-timecodes" })
                            </li>
                            <li>
                                <p class="navbar-btn">
                                    <a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#myModal">login</a>
                                    &nbsp;
                                </p>
                            </li>
                        </ul>
                    }
                    else
                    {
                        using (Html.BeginForm("LogOff", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <p class="navbar-text">Logged in as <strong>@HttpContext.Current.User.Identity.Name</strong></p>
                                </li>
                                <li>
                                    <p class="navbar-btn">
                                        <button class="btn btn-default" role="button">Logoff</button>
                                        &nbsp;
                                    </p>
                                </li>
                            </ul>
                        }
                    }
</div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <div>
            <h3>@ViewBag.Title</h3>
            @RenderBody()
        </div>
        
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        help me please
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
        <div class="modal fade" id="myModal"  tabindex="-1" role="dialog">
            <div class="modal-dialog model-sm" role="document">
                @using (Html.BeginForm("Login", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Email</label>
                                    <div class="col-md-10">
                                        <input type="text" id="email" name="email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Password</label>
                                    <div class="col-md-10">
                                        <input type="password" id="password" name="password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                            <button type="submit" class="btn btn-primary">login</button>
                        </div>

                    </div>
                    <!-- /.modal-content -->
                }
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="../../Scripts/bootstrap.min.js"></script>
    </body>
</html>
